*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.menu{
    background-color: rgb(222, 115, 193);
    display: flex;
    justify-content: center;
}

.menu a{
    color: rgb(137, 8, 133);
    text-decoration:  none;
    padding: 15px 20px;
    display: block;
    font-size: 25px;
}

.menu a:hover{
    background-color:  #d883b3;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px
}

.card{
    background: #c63092;
    border-radius:  8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(66, 116, 215, 5);
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 6px;
}

.titulo-principal{
    text-align: center;
    color: rgb(205, 139, 227);
}